@font-face {
    font-family: 'Digital-7';
    src: url('src/assets/fonts/digital-7.ttf');
}

:root {
    --clock-color: #806B94;
    --background-color: #6B9494;
    --font-color: whitesmoke;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "28 Days Later";
    color: var(--font-color);
}

#container {
    width: 500px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    border: 2px solid black;
    padding: 1rem;
    background-color: var(--background-color)
}

#clock-div {
    font-family: 'Digital-7', 'sans-serif';
    font-size: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border: 2px solid var(--clock-color);
    border-left: 2rem solid var(--clock-color);
    border-right: 2rem solid var(--clock-color);
}

.clock-digits {
    font-family: 'Digital-7', 'sans-serif';
    width: 2.5rem;
    height: 4rem;
    border: 1px solid rgb(196, 192, 192);
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#timekeeping-selection-div {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
}

#create-alarm-div {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.timekeeping-choices {
    font-size: 1.1rem;
    transition: scale 0.1s ease-in;
}

.timekeeping-choices:hover {
    scale: 1.1;
    cursor: pointer;
}

.timekeeping-choices:active {
    scale: 0.9;
    cursor: pointer;
}

.fa-bell {
    color: rgb(182, 182, 207);
}

.fa-clock {
    color: rgb(33, 82, 66);
}

.fa-stopwatch {
    color: rgb(128, 166, 197);
}

.border-bottom {
    border-bottom: 1px solid lightblue;
}

#alarm-div {
    padding: 0.5rem;
    font-size: 1.2rem;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    width: 100%;
}

#time-date-input-div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    width: 100%;
}

.alarm-inputs {
    padding: 0.5rem;
    font-size: 1.2rem;
    height: 3rem;
    width: 30%;
    background-color: var(----background-color);
}

.display-none {
    display: none;
}

.create-btns {
    width: 40%;
    height: 3rem;
    font-size: 1.2rem;
    background-color: var(----background-color);
}

#create-alarm-btn:hover {
    background-color: var(--clock-color);
}

button:hover {
    cursor: pointer;
}

#created-alarms-div {
    display: none;
    min-width: none;
    width: 100%;
    max-height: 300px;
    overflow: scroll;
    /* display: flex; */
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    border: 2px solid var(--clock-color);
    padding: 1rem;
}

.created-alarm-slot {
    width: 100%;
}

.fa-trash {
    color: rgb(177, 107, 107);
    transition: scale 0.1s ease-in;
    font-size: 1.3rem;
    cursor: pointer;
}

.fa-trash:hover {
    scale: 1.1;
}

.fa-trash:active {
    scale: 0.9;
}