@font-face {
    font-family: 'Digital-7';
    src: url('src/assets/fonts/digital-7.ttf');
}

:root {
    --clock-color: #C23D6C;
    --background-color: #513DC2;
    --remaining-time: #3DC293;
    --font-color: whitesmoke;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "28 Days Later";
    color: var(--font-color);
}

#container {
    width: 600px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    border: 2px solid black;
    padding: 1rem;
    background-color: var(--background-color)
}

#clock-div {
    font-family: 'Digital-7', 'sans-serif';
    font-size: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border: 2px solid var(--clock-color);
    border-left: 5rem solid var(--clock-color);
    border-right: 5rem solid var(--clock-color);
}

.clock-digits {
    font-family: 'Digital-7', 'sans-serif';
    width: 2.5rem;
    height: 4rem;
    border: 1px solid rgb(165, 153, 153);
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#timekeeping-selection-div {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
}

#create-alarm-div {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.timekeeping-choices {
    font-size: 1.1rem;
    transition: scale 0.1s ease-in;
}

.timekeeping-choices:hover {
    scale: 1.1;
    cursor: pointer;
}

.timekeeping-choices:active {
    scale: 0.9;
    cursor: pointer;
}

.fa-bell {
    color: #87C837;
}

.fa-stopwatch {
    color: #37C8C1;
}

.fa-clock {
    color: rgb(51, 131, 104);
}

.border-bottom {
    border-bottom: 1px solid var(--clock-color);
}

#alarm-div {
    padding: 0.5rem;
    font-size: 1.2rem;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    width: 100%;
}

#time-date-input-div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    width: 100%;
}

.alarm-input-labels {
    width: 33%;
}

#repeat-daily {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    border: 2px solid red;
    gap: 1rem;
}

#repeat-daily > * {
    width: 100%;
}

[for='repeat-alarm-checkbox'] {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.alarm-inputs {
    padding: 1rem;
    font-size: 1.2rem;
    height: 3rem;
    width: 100%;
    background-color: var(----background-color);
}
.alarm-inputs:nth-child(1) {
}

#alarm-time-input {
}

#repeat-alarm-checkbox {
    width: 1.5rem;
    height: 1.5rem;
}

.display-none {
    display: none;
}

.create-btns {
    width: 40%;
    height: 3rem;
    font-size: 1.2rem;
    background-color: var(----background-color);
}

#create-alarm-btn:hover {
    background-color: var(--clock-color);
}

button:hover {
    cursor: pointer;
}

#created-alarms-div {
    display: none;
    min-width: none;
    width: 100%;
    max-height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
    /* display: flex; */
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    border: 2px solid var(--clock-color);
    border-radius: 1rem;
    padding: 1rem;
    padding-top: 0;
}

.created-alarm-slot {
    width: 100%;
    display: grid;
    grid-template-columns: 0.25fr 0.4fr 0.4fr 0.7fr 0.3fr;
}

.created-alarm-slot * {
    font-size: 1.2rem;
    margin: auto;
}

.time-left {
    color: var(--remaining-time);
    /* translate: 1rem; */
}

.date-time-span {
    color: rgb(130, 212, 212);
}

#created-alarms-columns {
    box-sizing: content-box;
    position: sticky;
    top: 0;
    width: 90%;
    display: grid;
    grid-template-columns: 0.42fr 0.4fr 0.8fr 0.2fr;
    background-color: var(--background-color);
    z-index: 200;
    border: 30px solid var(--background-color);
    border-top: 20px solid var(--background-color);
    border-bottom: 10px solid var(--background-color);
}

#created-alarms-columns>* {
    font-weight: bold;
    z-index: 200;
    text-align: right;
}

#remaining-time-span {
    translate: -1.5rem;
}

.fa-trash {
    color: rgb(177, 107, 107);
    transition: scale 0.1s ease-in;
    font-size: 1.2rem;
    cursor: pointer;
}

.fa-trash:hover {
    scale: 1.1;
}

.fa-trash:active {
    scale: 0.9;
}